.black-list-item {
    padding-right: 10px;
}

.black-list-item:hover {
    cursor: pointer;

}

.black-list-item:last-of-type {
    padding-right: 0;
}

.black-list-word-removal {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 2px;
    
    width: 15px;
    height: 15px;
    
    border-radius: 10px;
    border: 1px solid #555;
    
    line-height: 8px;
    padding-left: 2px;
    
}

.word-details {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #ffffff;
    font-family: sans-serif;

}

.word-details::before {
    content: 'Anzahl: ';
}


.wordCloud-container textarea {
    width: 80%;
    margin: 0 auto;
}

.wordCloud-container button.render-word-cloud {
    width: 40%;
    display: block;
    margin: 0.5em auto;
    border-radius: 10px;
    background-color: #00a3d3;
}